<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("./partials/navbar.ejs") %>
    <!-- <h1>trang chu</h1>
    <h1>role<%=role%></h1>
    <h1>email<%=email%></h1>
    <h1>username<%=username%></h1>
    <h1>isAdmin<%=isAdmin%></h1> -->


    <div class="container mt-3">
        
       
        <h2>Xin chào <%=role%>
</h2>
<h3>Chào mừng bạn đến với web hội chẩn của bệnh viện chúng tôi!</h3>
<h3>Trên thanh navbar sẽ có những gì bạn cần</h3>
<p>Trang web này chỉ là 1 bài tập với tính năng đơn giản, thông cảm vì còn quá nhiều deadline, em đã không ngủ đủ giấc tối qua</p>
        <img src="https://wallpaperaccess.com/full/20585.jpg" style="width: 60vw; height: 60vh;" />
    </div>



</body>
</html>